@import 'styles/vars.scss';

.stats-tools {
  grid-area: stats-tools;
  h5 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .stats {
    height: 8rem;
    background-color: $grey-3;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tools {
    .user-actions {
      margin: 1rem 0;
      display: flex;
      justify-content: space-around;
      button {
        border: none;
        background-color: transparent;
        img {
          width: 2rem;
          height: 2rem;
        }
        &:disabled {
          filter: opacity(0.5);
        }
      }
    }
  }
}
