@import 'styles/vars.scss';

.home {
  display: grid;
  grid-template-columns: 25rem auto 25rem;
  grid-template-rows: 7rem auto;
  grid-template-areas:
    'header header header'
    'solutions work-surface stats-tools';
  .header {
    z-index: 1;
    grid-area: header;
    background-color: $grey-9;
    padding: 2rem;
    display: flex;
    align-items: center;
    h1 {
      color: $grey-1;
    }
  }
}
