@import 'styles/vars';

.work-surface {
  grid-area: work-surface;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .feature-toggle {
    &.selected {
      background-color: $grey-8;
      color: white;
    }
  }
}