@import 'styles/vars.scss';

.solutions {
  grid-area: solutions;
  padding: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      .solution {
        &.selected {
          background-color: $grey-8;
          color: white;
        }
      }
    }
  }
}
